table {
  width: 100%;

}

th {
  width: 25%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;

}

.bg-div {
  background-color: rgba(0, 0, 0, 0.24);
  border-radius: 30px;
  width: 100%;
  margin-top: 25px;
}

.bg-tabla {
  background-color: grey;
}

.toolbar-container {
  background-color: grey;
  border-radius: 20px;
}

.boton {
  background-color: rgba(226, 81, 23, 0.774);
}

.barra-filtrar {

  border: 1px solid black;
  border-radius: 10px;
}